@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
html, html * {
  font-family: Roboto; }

.onclick-menu {
  color: #fff;
  position: relative;
  display: inline-block; }

.onclick-menu:before {
  color: #fff;
  content: "What is Hive?"; }

.onclick-menu:focus .onclick-menu-content, .onclick-menu-icon:focus .onclick-menu-content {
  display: block; }

#login_btn {
  background: #9C27B0; }

.onclick-menu-content {
  position: absolute;
  z-index: 1;
  background-color: #ddd;
  display: none; }

h3.white {
  text-align: center;
  padding: 10px; }

.hexagon {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #64C7CC;
  margin: 28.87px 0;
  box-shadow: 0 0 20px black;
  border-left: solid 5px #333333;
  border-right: solid 5px #333333; }

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.6447px;
  box-shadow: 0 0 20px black; }

.hexagon:before {
  top: -35.3553px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333; }

.hexagon:after {
  bottom: -35.3553px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333; }

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top: 2.8867513459481287px;
  left: 0;
  width: 90px;
  height: 51.9615px;
  z-index: 2;
  background: inherit; }

/*2*/
.feautured_groups {
  position: relative;
  left: 48px; }

.hexagon2 {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #64C7CC;
  margin: 28.87px 0;
  box-shadow: 0 0 20px black;
  border-left: solid 5px #333333;
  border-right: solid 5px #333333; }

.hexagon2:before,
.hexagon2:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.6447px;
  box-shadow: 0 0 20px black; }

.hexagon2:before {
  top: -35.3553px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333; }

.hexagon2:after {
  bottom: -35.3553px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333; }

/*cover up extra shadows*/
.hexagon2 span {
  display: block;
  position: absolute;
  top: 2.8867513459481287px;
  left: 0;
  width: 90px;
  height: 51.9615px;
  z-index: 2;
  background: inherit; }

.hexagon2 {
  position: relative;
  background-color: white;
  left: 50px; }

/*3*/
.hexagon3 {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #64C7CC;
  margin: 28.87px 0;
  box-shadow: 0 0 20px black;
  border-left: solid 5px #333333;
  border-right: solid 5px #333333; }

.hexagon3:before,
.hexagon3:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.6447px;
  box-shadow: 0 0 20px black; }

.hexagon3:before {
  top: -35.3553px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333; }

.hexagon3:after {
  bottom: -35.3553px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333; }

/*cover up extra shadows*/
.hexagon3 span {
  display: block;
  position: absolute;
  top: 2.8867513459481287px;
  left: 0;
  width: 90px;
  height: 51.9615px;
  z-index: 2;
  background: inherit; }

/*4*/
.hexagon4 {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #64C7CC;
  margin: 28.87px 0;
  box-shadow: 0 0 20px black;
  border-left: solid 5px #333333;
  border-right: solid 5px #333333; }

.hexagon4:before,
.hexagon4:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.6447px;
  box-shadow: 0 0 20px black; }

.hexagon4:before {
  top: -35.3553px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333; }

.hexagon4:after {
  bottom: -35.3553px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333; }

/*cover up extra shadows*/
.hexagon4 span {
  display: block;
  position: absolute;
  top: 2.8867513459481287px;
  left: 0;
  width: 90px;
  height: 51.9615px;
  z-index: 2;
  background: inherit; }

.hexagon4 {
  position: relative;
  left: 99px;
  bottom: 85px; }

/*5*/
.hexagon5 {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #64C7CC;
  margin: 28.87px 0;
  box-shadow: 0 0 20px black;
  border-left: solid 5px #333333;
  border-right: solid 5px #333333; }

.hexagon5:before,
.hexagon5:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.6447px;
  box-shadow: 0 0 20px black; }

.hexagon5:before {
  top: -35.3553px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333; }

.hexagon5:after {
  bottom: -35.3553px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333; }

/*cover up extra shadows*/
.hexagon5 span {
  display: block;
  position: absolute;
  top: 2.8867513459481287px;
  left: 0;
  width: 90px;
  height: 51.9615px;
  z-index: 2;
  background: inherit; }

.hexagon5 {
  position: relative;
  bottom: 347px;
  left: 100px; }

/*Previous Code*/
.onclick-menu {
  color: #fff;
  position: relative;
  display: inline-block; }

.onclick-menu:before {
  content: "What Hive's all about";
  font-size: 30px; }

.onclick-menu:focus .onclick-menu-content {
  display: block; }

.onclick-menu-content {
  position: absolute;
  z-index: 1;
  display: none; }

/*# sourceMappingURL=home.css.map */
