<head>
    <link rel="stylesheet" href="app/components/me/css/me.min.css" type="text/css" />
</head>


<a class="item item-avatar"><img src="http://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg"></a>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="Hive">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Surname">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@suhr.com">
  </label>
</div>