<head>
    <link rel="stylesheet" href="app/components/login/css/login.min.css" type="text/css" />
</head>

<form name="logIn_form">
    <ion-view view-title="Login" align-title="center">
    <ion-content style="background: #FFD700; background-size: cover;">
        <div style="max-width: 500px; margin: auto;">   
            <div class="hero no-header flat">
                <div class="content">
                    <div class="app-icon"></div>
                   <h1 id="title_reg" style="color: ##000000; text-align: center;">Hive</h1>
                </div>
            </div>
            <div class="list" style="margin: 0;">
                <!--<ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
                <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>-->
            <div class="padding2">
                <label class="item item-input cust-input">
                    <input type="text" placeholder="Email">
                </label>
            </div>
            <div class="padding2">
                <label class="item item-input cust-input">
                    <input type="password" name="password" value="" placeholder="Password">
                </label>
            </div>
            </div>
            <div class="padding2">
              <md-button ui-sref="register" class="md-warn md-raised button-full " style="font-weight: bold;">
            <h3 class="white">Log In</h3>
        </md-button>
            </div>

        
        </div>

    </ion-content>
    </ion-view>
</form>