<head>
    <!--<link rel="stylesheet" href="app/components/login/css/login.min.css" type="text/css" />-->
    <link rel="stylesheet" href="app/components/register/css/register.min.css" type="text/css" />
    <link rel="stylesheet" href="app/components/register/scss/register.css" type="text/css" />
</head>

<form name="logIn_form">
    <ion-view view-title="Login" align-title="center">
    <ion-content style="background: #FFD700; background-size: cover;">
        <div style="max-width: 500px; margin: auto;">   
            <div class="hero no-header flat">
                <div class="content">
                    <div class="app-icon"></div>
                   <h1 id="title_reg" class="form-title" style="color: #000000; text-align: center;">Hive</h1>
                </div>
            </div>
            <div class="list" style="margin: 0;">
                <!--<ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
                <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>-->
            <div class="padding1">
                <label class="item item-input cust-input">
                    <input type="text" id="email_form" placeholder="Email">
                </label>
            </div>
            <div class="padding1">
                <label class="item item-input cust-input">
                    <input type="password" id="pass_form" name="password" value="" placeholder="Password">
                </label>
            </div>
            </div>
            <div class="padding1">
                <!--<button ui-sref="login" class="button button-full button-dark" style="background-color: #333; margin: 0; min-height: 40px !important;">
                Log In
                </button>-->
                <md-button ui-sref="login" class="md-warn md-raised button-full " ng-click="login_form();" style="background-color: #333; font-weight: bold; margin-top: 0; height: 40px !important;">
                <h3 class="button-h3-register white">Log in</h3>
                </md-button>
            </div>
            <p class="center" style="margin-top: 25px;">If you don't have an account, <a ui-sref="register" style="text-decoration: none;">sign up here</a></p>
        
        </div>

    </ion-content>
    </ion-view>
</form>