<head>
<link rel="stylesheet" href="app/components/discussions/css/discussions.min.css" type="text/css" />
</head>
<div>
  <h2>< <span class="blink">_</span> /></h2>
</div>
<ion-view>
<ion-content>
  <!-- start filter-->
  <div class="filter">
    <div class="container">
      <div class="row">
        <div class="col-xs-6" style="padding:0"><button>FILTER FEED</button></div>
        <div class="col-xs-6" style="padding:0"><button>START DISCUSSION</button></div>
      </div>
      <div class="row">
        <div class="col-xs-12 edit">
          <input type="text" type="search"/>
        </div>
      </div>
    </div>
  </div>
  <!-- display count -->
  <div class="display">
    <div clas="container">
      <div class="txt">Displaying <span>111</span> results</div>
    </div>
  </div>
  <!-- Groups-->
  <div class="groups">
    <div class="container">
      <h2>First Name Last Name</h2>
      <div class="row">
        <div class="col-xs-4">
          <img src="http://placehold.it/150x150" style="width:100%;height:100%;"></img>
        </div>
        <div class="col-xs-8">
          <div class="info">
            <h1>Title goes here.</h1>
            <md-button class="md-raised pull-right">Tag Name</button>
            <span color="white">08/07/2016</span>
          </div>
        </div>
      </div>
      <hr>
      <div id="tri-cont">
      <div id="triangle"></div>
      <h2>Group</h2>
      <div class="row">
        <div class="col-xs-4">
          <img src="http://placehold.it/150x150" style="width:100%;height:100%;"></img>
        </div>
        <div class="col-xs-8">
          <div class="info">
          <h1>Group title goes here.</h1>
          <md-button class="md-raised pull-right btn-1">Tag Name</md-button>
          <span>08/07/2016</span>
          </div>
        </div>
      </div>
      <hr>
      </div>
            <h2>First Name Last Name</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="info">
          <h1>Title goes here.</h1>
          <md-button class="md-aised pull-right btn-2">Tag Name</md-button>
          <span>08/07/2016</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</ion-content>
</ion-view>