<head>
    <link rel="stylesheet" href="app/components/home/css/home.min.css"/>
 
</head>

<ion-view>
<ion-content>

<!--<div class="bar bar-header item-input-inset bar-energized">
   <label class="item-input-wrapper" style="margin: 0 13px 0 13px;">
     <i class="icon ion-ios-search placeholder-icon"></i>
     <input type="search" placeholder="Search">
   </label>
</div>-->

<!--<div class="item item-text-wrap center" style="background-color: #333;">-->
<div class="Hive-Top">
    <img src="assets/img/Hive_logo2.png" alt="Hive" width="auto" height="100">  
    <div style="max-width: 500px; padding: 10px; margin: auto; margin-top: 120px; margin-bottom: 130px;">
         <md-button ui-sref="register" class="md-warn md-raised button-full " style="background-color: #ffd700; font-weight: bold;">
             <h3 class="button-h3">Sign Up</h3>
         </md-button>
         <md-button ui-sref="login" style="background-color: #f8f8f8;" class="md-raised button-full " id="login_btn" style="font-weight: bold;">
             <h3 class="button-h3">Log In</h3>
         </md-button> 
     
    </div>
    <h4 class="white">sample text</h4>
    <!-- DONT make this into a button. I will change it later on to be a collapsible with an icon, or I'll remove it altogether-->
</div>

<div class="Hive-Body">
    <h1 class="home-head"> About Hive </h1>
    
    <p class="white">~ Find students like you, start discussions, offer opportunities, and much more ~ </p>
    
    
   
</div>

<!-- Hexagon 
<div style="margin: 13px;">
<h1>Feautured Groups</h1>
<div class="feautured_groups">
   <div class="hexagon"><span></span></div>
   <div class="hexagon2"><span></span></div>
   <div class="hexagon3"><span></span></div>
   <div class="hexagon4"><span></span></div>
   <div class="hexagon5"><span></span></div>
</div>
</div>-->

</ion-content>
</ion-view>